.navbar-inverse.navbar-fixed-bottom.navbar-center {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: rgb(0,46,99);
    border-radius: 0px;
    
}
body { padding-bottom: 70px; }
.text-center{
    text-align: center;
    padding-top: 15px;
}