<router-outlet></router-outlet>
<div style="background-color: skyblue; padding-top: 2em; margin: 0;">
    <img src="https://cdn-icons.flaticon.com/png/128/1769/premium/1769328.png?token=exp=1652936242~hmac=801cb6e38c956b08f48e7822017fc141"
        width="50" height="50">
</div>
<div class="container" style="align-self:center">
    <ag-grid-angular style="width:403px; height: 162px;padding-top: 2em;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>